<div class="flex flex-col items-center pt-[20px] gap-[20px]" *ngIf="!showConfirmCodeScreen">
  <p class="text-lg font-bold dark:text-white">Forgot Password</p>
  
  <div class="w-[300px]">
    <p class="text-base dark:text-white">Email</p>
    <input type="text" class=" min-w-[300px] w-2/5 p-[4px] rounded-lg text-base" [(ngModel)]="email">
    <p *ngIf="showEmailErr" class="text-base text-red-600">Enter valid email</p>
    <p *ngIf="showEmailNonexistentErr" class="text-base text-red-600">No account with this email</p>
  </div>

  <div class="w-[300px]">
    <p class="text-base dark:text-white">New Password</p>
    <input type="password" class=" min-w-[300px] w-2/5 p-[4px] rounded-lg text-base" [(ngModel)]="password">
    <p *ngIf="showPasswordErr" class="text-base text-red-600">
      {{"At least one lowercase alphabet i.e. [a-z]\nAt least one uppercase alphabet i.e. [A-Z]\nAt least one Numeric digit i.e. [0-9]\nAt least one special character i.e. ['@', '$', '.', '#', '!', '%', '*', '?', '&', '^']\nTotal length must be in the range [8-16]"}}
    </p>
  </div>

  <div class="w-[300px]">
    <p class="text-base dark:text-white">Confirm Password</p>
    <input type="password" class=" min-w-[300px] w-2/5 p-[4px] rounded-lg text-base" [(ngModel)]="confirmPassword">
    <p *ngIf="showConfirmPasswordErr" class="text-base text-red-600">Passwords do not match</p>
  </div>

  <button class="bg-purple-400 text-lg py-3 px-6 rounded-lg block mb-4 dark:text-white hover:bg-purple-500" (click)="checkFormInfo()">Change Password</button>
</div>

<div *ngIf="showConfirmCodeScreen">
  <email-verification [recipientEmail]="email" [purpose]="'forgot-password'" (codeCheckResult)="changedPassword($event)"></email-verification>
</div>