<div class="w-full">

    <div *ngIf="!creatingNewChat">
        <div class="flex justify-between items-center mb-[16px]">
            <p class=" dark:text-white font-bold">Chats</p>
            <button mat-icon-button (click)="creatingNewChat = true">
                <mat-icon class="dark:text-white" fontIcon="add_circle"></mat-icon>
            </button>
        </div>

        <div *ngFor="let chat of chatList">
            <chatlist-element [chatName]="getChatName(chat)" [chatId]="getChatId(chat)" [isActive]="chat.id === activeChat.chatId" [latestMessage]="getLatestMessage(chat)" (changeActiveChat)="changeActiveChatFunction($event)"></chatlist-element>
        </div>
    </div>

    <div *ngIf="creatingNewChat">
        <create-chat [friendList]="friendList" (closeCreateChat)="creatingNewChat = false"></create-chat>
    </div>
        
</div> 