<div class="w-full">

    <div *ngIf="!creatingNewChat">
        <div class="flex justify-between items-center mb-[16px]">
            <p class=" dark:text-white font-bold">Chats</p>
            <div (click)="creatingNewChat = true" class="flex content-center hover:cursor-pointer">
                <mat-icon class="dark:text-white" fontIcon="add_circle"></mat-icon>
            </div>
        </div>

        <div *ngFor="let chat of chatList">
            <chatlist-element *ngIf="isVisible(chat)" [chatName]="getChatName(chat)" [chatPic]="getChatPic(chat)" [chatId]="chat.id" [isActive]="chat.id === activeChatId" [latestMessage]="getLatestMessage(chat)" 
            [members]="chat.members" [isGroupChat]="chat.chatName !== ''"></chatlist-element>
        </div>
    </div>

    <div *ngIf="creatingNewChat">
        <create-chat [userInfoDict]="userInfoDict" (closeCreateChat)="creatingNewChat = false"></create-chat>
    </div>
        
</div> 