
<body class="px-[16px]">
  <div class=" dark:bg-black">
    <!--Here we can put logic to show if user is logged in??-->
    <p class="text-4xl mb-4 dark:text-white">Welcome to ChatStream</p>
    <p class="text-lg mb-4 dark:text-white">A free in browser messenger with screen sharing support. All messages are encrypted to protect any conversation you may have!</p>
    <button class="bg-purple-400 text-lg py-3 px-6 rounded-lg dark:text-white hover:bg-purple-500" routerLink="/login">Login</button>

  </div>
</body>