<!--If you place any html here, it would should show throughout the ENTIRE app on top.
I COULD ENABLE DARK MODE THROUGH HERE FOR ALL COMPONENTS !!!! -->
<div class="dark bg-[#EEEEEE] min-h-screen dark:bg-black">
@if(!loggedIn){
  <header class="flex items-center justify-between px-[16px] h-12 w-full bg-purple-400">
    <div class="flex items-center">
      <p class=" text-lg font-bold mr-[64px] dark:text-white">ChatStream</p>
      <p class=" text-normal font-bold mr-[36px] dark:text-white">Chats</p>
      <p class=" text-normal font-bold dark:text-white">Chat Rooms</p>
    </div>
  
    <img class="h-[30px] w-[30px] bg-white rounded-full"/>
  </header>
}
<router-outlet />
</div>