<body #chatPageContainer class="flex flex-col h-full overflow-hidden">
    <div *ngIf="chatName !== ''" #chatHeader class="flex border-b-[1px] border-gray-50 w-full px-[10px] py-[12px] gap-[16px]">
        <button [hidden]="!onMobile" ><mat-icon class="dark:text-white hover:cursor-pointer" fontIcon="arrow_back" (click)="backPressed.emit()"></mat-icon></button>
        <p class="text-base font-bold dark:text-white text-ellipsis overflow-hidden whitespace-nowrap"> {{chatName}} </p>
        <div class="flex-auto">
            <button [hidden]="!isGc" (click)="openChatInfoModal()"><mat-icon class="dark:text-white hover:cursor-pointer" fontIcon="info"></mat-icon> </button><!-- for gc details -->
        </div>
    </div>

    <!-- h-[calc(100%-{{inputSize}}px)] -->
    <div #chatMessages
    class="overflow-y-scroll py-[16px] px-[10px] flex-1" *ngIf ="chatId === ''">
        <p class="dark:text-white"> CHOOSE A CHAT</p>
    </div>

    <div #chatMessages
    class="overflow-y-scroll py-[16px] px-[10px] flex-1" *ngIf ="chatId !== ''">
        <div *ngFor="let message of chatHistory">
            <chat-message (editingMessageId)="changeEditingMessageId($event)" [mediaUrl]="message.media" [messageInfo]="createMessageInput(message)" [highlightedMessage] = "editingMessageId === message.id"></chat-message>
        </div>
    </div>
    

    <div #textInput class ="sticky bottom-0 w-full border-t-2 border-white py-[12px] px-[10px] z-10"> 
        
        <div *ngIf="editingMessageId !== ''" class="w-full mb-[10px] flex gap-[10px] items-center">
            <mat-icon (click)="editingMessageId = ''; message ='' " class="dark:text-white hover:cursor-pointer" fontIcon="cancel"></mat-icon>
            <p (click)="editingMessageId = ''; ; message =''" class="text-sm underline font-bold dark:text-white hover:cursor-pointer">Cancel Edit</p>
        </div>

        <div #previewMediaContainer *ngIf="previewImage !== null" class="bg-gray-400 w-[140px] h-[140px] relative flex items-center justify-center mb-[10px]">
            <mat-icon (click)="previewImage=null; uploadedMedia=undefined" class="absolute top-0 right-0 text-red-500 cursor-pointer" fontIcon="delete"></mat-icon>
            <img class="max-w-[140px] max-h-[140px]" [src]="previewImage">
        </div>

        <div class="flex items-center">
            <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/jpeg,image/jpg,image/png" class="hidden">
            <mat-icon (click)="fileInput.click()" class="mr-[10px] dark:text-white hover:cursor-pointer" fontIcon="add_a_photo"></mat-icon>

            <mat-form-field class="flex-1" subscriptSizing="dynamic">
                <mat-label [style.color]="'white'">{{getInputLabel()}}</mat-label>
                <textarea   matInput
                    cdkTextareaAutosize
                    [(ngModel)]="message"
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
                    [style.color]="'white'"  [style.fontSize]= "'1rem'" (keyup.enter)="sendMessage()"
                ></textarea>
            </mat-form-field>

            <button class="ml-[10px]" (click)="sendMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-[40px] w-[40px] fill-purple-400 hover:cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5" />
                </svg>
            </button>
        </div>
    </div>
   
</body>